<center>
<div class="card user-card" style="width: 30rem;">
  <div class="card-body">
    <h4 class="card-title">Tu es sur la page de :</h4>
    <h3><%= @user.first_name %></h3>
    <p class="card-text">Description : <%= @user.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Nom : <%= @user.last_name %></li>
    <li class="list-group-item">Prenom : <%= @user.first_name %></li>
    <li class="list-group-item">Email : <%= @user.email %></li>
    <li class="list-group-item">Age : <%= @user.age %></li>
  </ul>
</div>
<br><br><br>
 <a class="btn btn-primary" style="margin: 20px"href = '/'>Retour à l'acceuil</a> 
</center>